.form-details {
  width: 80%;
  margin: 3%;
  .form {
    padding: 5%;
  }
  .header {
    //   text-align: center;
    margin-top: 5%;
  }
  .submit-btn {
    margin-right: 12px;
  }
  .action-btn {
    margin-top: 10%;
  }
}
